# Node.js dependencies
/node_modules
/node
*lock.json

# Rust
Cargo.lock
bin
lib
pkg

# IntelliJ  files
*.iml
.idea/

# Eclipse files
.project
.classpath

# Build files
deploy/**
!deploy/.htaccess
webvowl*.zip
target

# NetBeans files
**/nbproject/**